* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', sans-serif;
}

#content {
    margin: 50px 200px 0;
    font-size: 16px;
}

/* Add food*/
.button-add-food{
    margin-bottom: 30px;
}

.button-add-food button{
    padding: 5px 10px;
    font-weight: 600;
    color: #fff;
    background-color: #e67300;
    border: none;
    border-radius: 50px;
}

.button-add-food button:hover{
    color: #e67300;
    background-color: #000;
}

.form-add-food{
    padding: 30px 20px 20px;
    width:350px;
    background-color: rgb(246, 207, 134);
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}

.form-add-food h3{
    padding-bottom: 20px;
    display: block;
}

.attri {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.name-attri {
    width: 35%;
    font-weight: bold;
}

input, select,textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.button-submit input {
    border: none;
    background-color: #e67300;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.button-submit input:hover {
    background-color: #000;
    color: #e67300;
}

/* Table foods */
.foods-list{
    width: 100%;
}


th{
    padding: 10px 20px;
    background-color: orange;
}

td{
    padding: 5px;
    text-align: center;
    border: 2px rgb(246, 207, 134) solid;
}

td .edit-btn,td .save-btn, td .cancel-btn{
    font-size: 20px;
    background-color: #fff;
    border:none;
}



.icon-edit:hover{
    color: rgb(121, 112, 10);
}

.icon-trash{
    color: red;
}

.icon-trash:hover{
    color: rgb(122, 4, 4);
}

.open{
    display: flex;
}

@keyframes FadeIn {
  from{
    opacity: 0;
    transform:translateY(-200px);
  }
  to{
    opacity: 1;
    transform:translateY(0);
  }
}
/* ------------------------------
   Quay lại trang chủ
------------------------------ */
.back-home {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 30px;
}

.back-link {
  display: inline-block;
  background-color: #ff8800;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.back-link:hover {
  background-color: #e67300;
}

